.bla{

        background: linear-gradient(to right, white 30%, #E4CFBE 75% ,#E4D0C0 100%);
        opacity: 0.6;
        height: 60px;
        font-size: 120%;
        word-spacing: 30px;

}

.nav-link {
        color: 	#171848;
        margin-top: 7px;
}

