.fixed{
    max-width: 800px;
  
    margin-top: 140px;
}

.pic{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 700px;
    opacity:0.5;
    margin-bottom: 100px;
}

.details{
    font-size: 12px;

}