.fixed{
    max-width: 800px;
    //margin-right: 20px;
    margin-top: 140px;
}

.pic{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 700px;
    opacity:0.5;
    margin-bottom: -100px;
}